/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* My components */
@import url(components/anchor.css);
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/card-profil.css);
@import url(components/card-project.css);
@import url(components/contact.css);
@import url(components/footer.css);
@import url(components/navbar.css);
@import url(components/project.css);
@import url(components/section.css);

/* Font & Size */
p, a, i{
  font-family: "Montserrat", "Work Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  text-align: justify;
}

h1, h2, h3, h4 {
  font-family: "Montserrat","Poppins", "Helvetica", "sans-serif";
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}
h3, h4 {
  font-size: 20px;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

body {
  padding:0;
  margin:0;
}

/* background Color */

.bck-red {
  background-color: #DF2935;
}

.bck-grey {
  background-color: #9FB7B9;
}

.bck-dark-grey {
  background-color: #485665;
}

.bck-blue {
  background-color: #476fb1;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 355px) {
  .content {
    width: 300px;
  }
}

/* Smallest device - Bigger Phone */
@media (min-width: 360px) and (max-width: 575px) {
  .content {
    width: 340px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .content {
    width: 500px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content {
    width: 700px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content {
    width: 950px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .content {
    width: 1000px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .content {
    width: 1500px;
  }
}
