
/* button */

.btn-flat {
  display: block;
  width: fit-content;
  margin: 16px 0;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-white {
  color: rgba(1, 23, 47, 0.8);
  background: white;
  opacity: 0.9;
}

.btn-white:hover {
  background: rgba(1, 23, 47, 0.8);
  color: white;
}

.btn-blue {
  color: white;
  background: rgba(1, 23, 47, 0.8);
  opacity: 0.9;
}

.btn-blue:hover {
  background: white;
  color: rgba(1, 23, 47, 0.8);
}
