
/* button */

.btn-flat {
  display: block;
  width: fit-content;
  margin: 16px 0;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-white {
  color: rgba(51, 73, 94, 1);
  background: white;
  opacity: 0.9;
}

.btn-white:hover {
  background: rgba(51, 73, 94, 1);
  color: white;
}

.btn-white-dark {
  color: rgba(24, 24, 24, 1);
  background: white;
  opacity: 0.9;
}

.btn-white-dark:hover {
  background: rgba(24, 24, 24, 1);
  color: white;
}

.btn-blue {
  color: white;
  background: rgba(51, 73, 94, 1);
  opacity: 0.9;
}

.btn-blue:hover {
  background: white;
  color: rgba(51, 73, 94, 1);
}
