.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

/* TODO design the hover of a card project */
.project-card:hover {
  border: solid 2px rgba(1, 23, 47, 0.8);
}

.project-card {
  overflow: hidden;
  background: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 4px 5px 0 rgba(19, 23, 61, 0.06);
  height: 100%;
  border-radius: 4px;
  position:relative;
  transition: all ease 0.1s;
  border-bottom: 2px solid #D6D6D6;
  border-bottom-left-radius: 2px solid #D6D6D6;
  border-bottom-right-radius: 2px solid #D6D6D6;
}

.project-card > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.project-card > img.left {
  object-position: left top;
}

.project-card .project-card-infos h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  /* color: $dark-blue; */
}

.project-card .project-card-infos h3 {
  font-size: 20px;
  margin: 0;
  margin-top: 16px;
  /* color: $dark-blue; */
}

.project-card p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  padding: 0;
  /* color: $dark-blue; */
}

.project-card .project-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.project-card-infos ul li p {
 text-align: left;
}

.project-card-infos .technos-home {
  /* right: 16px;
  top: -8px; */
  display: flex;
  justify-content: flex-start;
}
.project-card-infos .technos-home .techno {
  border-radius: 4px;
  margin: 0 8px;
}
.project-card-infos .technos-home .techno p {
  color:white;
  font-size: 16px;
  margin: 0;
  padding: 4px 8px;
  text-align: left;
}

.project-card-date {
  position: absolute;
  color: white;
  text-align: right;
  padding: 8px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 4px;
}

.project-card-date h2 {
  margin:0;
  opacity: 0.7;
  font-size: 20px;
}

/* fin test */
.card-project {
  margin-bottom: 32px;
}

.card-project h2 {
  font-size: 32px;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.description {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 8px;
}

.card-project p {
  opacity: 1;
}

.project-cover {
  width: 100%;
}

.title-project-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title-project {
  margin-bottom: 24px;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content > hr {
  margin-top: 24px;
}

.demo-app-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.demo-app img {
  width: 100%;
}

.date {
  color: white;
  font-weight: 500;
  text-align: right;
}


/* Iphone and Small devices */
@media (max-width: 768px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
  .project-link {
    flex-direction: column;
  }
  .project-link a {
    margin: 0;
    padding: 0;
  }
  .demo-app-grid {
    grid-template-columns: 1fr;
  }
  .project-card-infos .technos-home .techno p {
    font-size: 12px;
  }
  .project-card .project-card-infos h3 {
    text-align: left;
  }
}


/* Smallest device - Bigger Phone */
@media (min-width: 769px) and (max-width: 1599px) {
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
}
