.flex-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil img {
  width: 300px;
  border-radius: 8px;
}

.profil-section {
  margin-top: 32px;
}
.profil-content {
  text-align: justify;
}

.margin-left {
  margin-left: 32px;
}

.margin-right {
  margin-right: 32px;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
  .up {
    flex-direction: column-reverse;
  }
  .down {
    flex-direction: column;
  }
  .margin-left {
    margin-left: 0;
  }
  
  .margin-right {
    margin-right: 0;
  }

  .profil img {
    width: 250px;
    margin-bottom: 24px;
  }
}