.card-project {
  margin-bottom: 32px;
}

.card-project h2 {
  font-size: 32px;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.description {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 8px;
}

.techno {
  font-size: 24px;
  opacity: 0.85;
  margin-bottom: 8px;
}

.card-project p {
  opacity: 1;
  text-align: justify;
  margin-top: 8px;
}

.project-cover {
  width: 100%;
}

.title-project-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title-project {
  margin-bottom: 24px;
}

.project-link {
  display: flex;
  align-items: center;
}

hr {
  margin-top: 24px;
}

.demo-app-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.demo-app img {
  width: 100%;
}

.date {
  color: #01172F;
  font-weight: bold;
  text-align: right;
}


/* // Smallest device */
@media (max-width: 768px) {
  .project-link {
    flex-direction: column;
    margin-bottom: 32px;
  }
  .project-link a {
    margin: 0;
    padding: 0;
  }
  .demo-app-grid {
    grid-template-columns: 1fr;
  }
}