/* footer */
.footer {
  background: #F4F4F4;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: rgba(0,0,0,0.3);
}

.footer-copyright {
  text-align: center;
}
.footer-copyright p {
  margin:0;
  padding: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links i {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
}
.footer-links i:hover {
  opacity: 1;
}

/* // Smallest device */
@media (max-width: 768px) {
  .footer-content{
    height:200px;
  }
  .footer-links {
    flex-direction: column;
    margin-right: 24px;
  }
  .footer-links i {
    padding: 10px 10px;
  }
}