/* nav */
.navbar {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 10000;
  transition: all .5s;
}

.transparentnav {
  background: transparent;
}

.whitenav {
  background: white;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: rgba(0,0,0,0.5);
}

.navbar-brand img {
  width: 80px;
  border-radius: 25%;
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.navlinks a:hover {
  opacity: 1;
}

.navlinks .dropdown {
  display: none;
  visibility:hidden;
}
.navlinks .inline-navlinks {
  display: block;
  visibility:visible;
}

/* // Smallest device */
@media (max-width: 768px) {
  .navlinks {
    flex-wrap: wrap;
  }
  .navlinks a {
    font-size: 16px;
  }
  .navbar-brand img {
    width: 60px;
  }

  .navlinks .dropdown {
    display: block;
    visibility:visible;
  }
  .navlinks .inline-navlinks {
    display: none;
    visibility:hidden;
  }
}