/* section */

.section {
  padding-top: 32px;
}

.section-content h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.section-content p {
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.profil img {
  width: 300px;
  border-radius: 8px;
}

.profil-content {
  text-align: justify;
}

.margin-left {
  margin-left: 32px;
}

.margin-right {
  margin-right: 32px;
}